/* line 2, ../pre/style.sass */
body {
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* line 5, ../pre/style.sass */
a {
  text-decoration: none;
  text-transform: uppercase;
}

/* line 9, ../pre/style.sass */
h1, h2 {
  margin-bottom: 0.5em;
}

/* line 13, ../pre/style.sass */
h1, h2, :before {
  margin-top: 0.65em;
}

/* line 17, ../pre/style.sass */
.texthead {
  font-size: 1.5em;
  letter-spacing: 10px;
}

/* line 21, ../pre/style.sass */
.texthead a {
  color: black;
}

/* line 24, ../pre/style.sass */
#header nav {
  z-index: 1;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}

/* line 29, ../pre/style.sass */
#Grid {
  margin: 0;
  padding: 15px 0 0 0;
  text-align: justify;
  font-size: 1em;
}

/* line 35, ../pre/style.sass */
#Grid li {
  display: inline-block;
  width: 19%;
  text-align: center;
}

/* line 40, ../pre/style.sass */
#Grid li a {
  letter-spacing: 1.5px;
  color: #cccccc;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

/* line 49, ../pre/style.sass */
#Grid li a:hover {
  color: black;
}

/* line 52, ../pre/style.sass */
#Grid:after {
  content: "";
  display: inline-block;
  width: 100%;
}

/* line 57, ../pre/style.sass */
#Grid .placeholder {
  padding: 0;
  margin: 0;
  display: none;
}

/* -- MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS -- */
/* 3 COL */
@media (max-width: 800px) {
  /* line 67, ../pre/style.sass */
  #Grid li {
    width: 8em;
    padding-top: 3%;
    margin-bottom: 3%;
  }
}
/* 2 COL */
@media (max-width: 600px) {
  /* line 76, ../pre/style.sass */
  #Grid li {
    width: 10em;
    padding-top: 0;
    margin-bottom: 4%;
  }
}
/* SINGLE COL */
@media (max-width: 400px) {
  /* line 84, ../pre/style.sass */
  #Grid li {
    width: 100%;
    padding-top: 1%;
    margin-bottom: 5%;
  }
}
/* line 93, ../pre/style.sass */
.textlogo a {
  color: #222222;
}

/* line 96, ../pre/style.sass */
.container {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  position: relative;
}

/* line 102, ../pre/style.sass */
.chapter-body {
  max-width: 42em;
  margin: 5em auto 0 auto;
  padding: 0 1em 0 1em;
}

/* line 107, ../pre/style.sass */
.chapter-body p {
  text-align: justify;
  line-height: 140%;
}

/* line 111, ../pre/style.sass */
.section p:first-of-type {
  text-indent: 25px;
}

/* line 114, ../pre/style.sass */
.title {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  text-align: center;
  padding-top: 10px;
}

/* line 121, ../pre/style.sass */
.toggle {
  background: white;
  border: 1px solid black;
  z-index: 10;
  cursor: auto;
}

/* line 126, ../pre/style.sass */
footer {
  text-align: center;
}

/* line 130, ../pre/style.sass */
.bottomnav {
  max-width: 42em;
  margin: 10px auto;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* line 137, ../pre/style.sass */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 156, ../pre/style.sass */
.btn-default {
  color: #333333;
  background-color: white;
  border-color: #cccccc;
}

/* line 162, ../pre/style.sass */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

/* line 167, ../pre/style.sass */
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/* line 172, ../pre/style.sass */
.btn-group > .btn:first-child {
  margin-left: 0;
}

/* line 175, ../pre/style.sass */
.btn-group > .btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 179, ../pre/style.sass */
.btn-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

/* line 182, ../pre/style.sass */
.btn-group > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* line 187, ../pre/style.sass */
.btn-group > .btn {
  position: relative;
  float: left;
}

/* line 191, ../pre/style.sass */
.btn-group-justified {
  display: table;
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
}

/* line 197, ../pre/style.sass */
.btn-group-justified .btn {
  display: table-cell;
  float: none;
  width: 1%;
}

/* line 205, ../pre/style.sass */
.textCenter {
  text-align: center;
}

/* line 208, ../pre/style.sass */
.lowerCase {
  text-transform: none;
}
